<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BlogServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54783/BlogService.asmx" binding="basicHttpBinding"
          bindingConfiguration="BlogServiceSoap" contract="BlogService.BlogServiceSoap"
          name="BlogServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>